<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.tmurakami.dexopener">

    <application android:name="test.com.github.tmurakami.dexopener.MyApplication">
        <activity android:name="android.support.v4.app.FragmentActivity" />
    </application>

</manifest>
